<template>
  <div>
    <v-dialog v-model="ok" width="500">
      <v-card>
        <div id="dialogtitle" class="d-flex justify-space-between mb-6">
          <span style="font-size: 20px">Employee Updated</span>
        </div>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="#3c4571" dark @click="okdialog()"> Ok </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog Box for Deletation Conformation -->
    <v-dialog v-model="deletedialog" width="400">
      <v-card>
        <v-card-title class="headline grey lighten-1" primary-title>
          Confirmation
        </v-card-title>

        <div
          style="padding: 15%; height: 100px; text-align: center"
          class="mb-6 ml-6"
        >
          <span style="font-size: 20px">Do you want to Delete?</span>
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="#F65656"  @click="Cancel()"> Cancel </v-btn>
      <div style="width:30px"></div>

          <v-btn color="#F65656" @click="deleteAdmin1()"> Confirm </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- DialogBox for Updating employee -->

    <v-dialog v-model="dialog" persistent max-width="500">
      <div id="dialog">
        <div id="dialogtitle" class="d-flex justify-space-between mb-6">
          <span style="font-size: 20px">Update Employee</span>
          <v-icon color="#fff" style="align-items: unset" @click="clearUpdate">
            mdi-close
          </v-icon>
        </div>
         <LazyUserForm  :user="employee" @on-submit="updateUser"/>
      </div> 
    </v-dialog>
    <v-container>
      <v-row>
        <v-col v-for="employee in employees" :key="employee.id" cols="12" sm="4">
          <v-container class="pplcard">
            <v-row>
              <v-col style="margin-top:20px;" sm="8">
                  <v-row class="avatar"><v-avatar size="80">
                <img
                  alt="user"
                  :src="employee.img"
                />
              </v-avatar></v-row>
                 
          
                    <v-row justify="center">
                      <v-col sm="12" style="margin-top:5px" >{{employee.firstname}}  {{employee.lastname}}</v-col>
                      <v-col sm="12" style="line-height:0.5;"><span style="font-size:16px; font-weight:300">{{employee.email}}</span></v-col>
                    </v-row>
              </v-col>

              <v-col sm="4">
              
                      <v-col align="center" justify="center">
                        <client-only>
                        <v-btn-toggle  rounded dark>
                          <v-btn>
                            <v-icon
                              color="#6AE6D1"
                              dark
                             @click="viewCard(employee)"
                              >mdi-eye-outline</v-icon
                            >
                          </v-btn>
                          <v-btn>
                            <v-icon
                              color="#83B4EF"
                              dark
                              v-on:click="updateCard(employee)"
                              >mdi-pencil</v-icon
                            >
                          </v-btn>
                          <v-btn>
                            <v-icon
                              color="#F65656"
                              dark
                              v-on:click="deleteAdmin(employee)"
                            >
                              mdi-delete</v-icon
                            >
                          </v-btn>
                        </v-btn-toggle>
                        </client-only>
                      </v-col>
                 
              </v-col>
            </v-row>
            
          </v-container>

        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapMutations } from "vuex"; 

export default {
 
  data() {
    return {
      dialog: false,
      deletedialog: false,
      id: null,
      firstname: null,
      lastname: null,
      address: null,
      city: null,
      birthdate: null,
      joiningdate: null,
      phoneNumber: null,
      email: null,
      status: null,
      ok: false,
      component: null,

      employee: {
        firstname: null,
        lastname: null,
        address: null,
        city: null,
        birthdate: null,
        joiningdate: null,
        phone: null,
        email: null,
        status: null,
      },
    };
  },
  props: ["employees"],
  computed: {
    // ...mapMutations(["updateAdmin", "updateStaff","Set_Person_Selected"]),
  },
  methods: {

    Cancel() {
      this.deletedialog = false;
    },
    okdialog() {
      this.ok = false;
    },
    viewCard(employee) {

      if (employee.status == "admin") {
         this.$store.commit("selected/Set_Person_Selected",employee);
         this.$router.push({path:'/EmployeeProfile'});
      } else if (employee.status == "employee") {
        this.$store.commit("selected/Set_Person_Selected",employee);
         this.$router.push({path:'/EmployeeProfile'});
      }
    },
    updateCard(employee) {
      this.employee=employee;
      this.component= () => import('./UserForm');
      this.dialog = true;
    },
    
    updateUser(userform) {
      console.log(this.employee);
      if (this.employee.status == "admin") {
        this.$store.commit("admins/updateAdmin", {
          id: this.employee.id,
          firstname: userform.firstname,
          lastname: userform.lastname,
          city: userform.city,
          address: userform.address,
          birthdate: userform.birthdate,
          joiningdate: userform.joiningdate,
          email: userform.email,
          phone: userform.phoneNumber,
          img: this.employee.img,
        });
      } else if (this.employee.status == "employee") {
        this.$store.commit("staffs/updateStaff", {
          id: this.employee.id,
          firstname: userform.firstname,
          lastname:userform.lastname,
          city: userform.city,
          address: userform.address,
          birthdate: userform.birthdate,
          joiningdate: userform.joiningdate,
          email: userform.email,
          phone: userform.phoneNumber,
          img: this.employee.img,
        });
      }
      this.dialog = false;
      this.ok = true;
    },
    deleteAdmin(employee) {
      this.id = employee.id;
      this.status = employee.status;
      this.deletedialog = true;
    },
    deleteAdmin1() {

      if (this.status == "admin" ) {
        this.$store.commit("admins/DELETE_Admin", this.id);
      } else if (this.status == "employee") {
        this.$store.commit("staffs/DELETE_Staff", this.id);
      }
      this.deletedialog = false;
    },
    clearUpdate() {
      this.dialog = false;
    },
  },
};
</script>

<style scoped>
.description{
     font-family: "Merienda", Helvetica, Arial;
     font-size: 20px;
  }
.pplcard {
  /* height: 100px;
  width: 300px; */
  border-radius: 15px;
  padding: 10%;
  background-color: #262626;
  font-size: 18px;
  font-weight: 500;
}
#dialog {
  background-color: #f8f9fb;
}
#viewdesign {
  height: 150px;
  display: flex;
  background-color: #83b4ef;
  padding: 6%;
  color: #e9f2fb;
  font-size: 18px;
  border-radius: 35px 35px 0px 0px;
}
#dialogtitle {
  height: 80px;
  display: flex;
  background-color: #3c4571;
  padding: 5%;
  color: #e9f2fb;
  font-size: 18px;
}
.col-sm-12 {
  padding: 2px;
  text-align: center;
}
.datepick {
  width: 100%;
  border-bottom: 1px solid #636464;
}

.com-sm-8{
  text-align: center;
}
.v-btn-toggle {
  flex-direction: column;
  border-radius: 0; 
  background-color: transparent;
}
.theme--dark.v-btn-toggle:not(.v-btn-toggle--group) {
    background: transparent; 
    color: #FFFFFF;
}
.avatar{
 justify-content: center;
}
 .v-btn-toggle > .v-btn.v-btn:last-child{
   border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
 }
 .v-btn-toggle > .v-btn.v-btn:first-child{
   border-top-right-radius: 20px;
    border-top-left-radius: 20px;
 }
 .v-application--is-ltr .v-btn-toggle > .v-btn.v-btn:not(:first-child) {
    border-left-width: thin;
}

</style>
