<template>
    <div style="padding-left: 6%;padding-top: 2%;padding-right: 5%">
      <validation-observer ref="observer" v-slot="{ invalid }">
        <form @submit.prevent="$emit('on-submit', form)">
          <validation-provider
            v-slot="{ errors }"
            name="Name"
            rules="required|max:10"
          >
            <v-text-field
              v-model="form.firstname"
              :counter="10"
              :error-messages="errors"
              label="First Name"
              required
            ></v-text-field>
          </validation-provider>
          <validation-provider
            v-slot="{ errors }"
            name="Last Name"
            rules="required|max:10"
          >
            <v-text-field
              v-model="form.lastname"
              :counter="10"
              :error-messages="errors"
              label="Last Name"
              required
            ></v-text-field>
          </validation-provider>
          <validation-provider
            v-slot="{ errors }"
            name="phoneNumber"
            :rules="{
              required: true,
              digits: 13,
              regex: '^(71|72|74|76|81|82|84|85|86|87|88|89)\\d{11}$',
            }"
          >
            <v-text-field
              v-model="form.phoneNumber"
              :counter="13"
              :error-messages="errors"
              label="Phone Number"
              required
            ></v-text-field>
          </validation-provider>
          <validation-provider
            v-slot="{ errors }"
            name="email"
            rules="required|email"
          >
            <v-text-field
              v-model="form.email"
              :error-messages="errors"
              label="E-mail"
              required
            ></v-text-field>
          </validation-provider>
          <v-text-field
            v-model="form.address"
            label="Address"
            required
          ></v-text-field>
          <v-text-field
            v-model="form.city"
            label="City"
            required
          ></v-text-field>
          <div>
            <span style="font-size:12px;color:#636464">Birth Date</span>
           <client-only> <date-picker
              class="datepick"
              placeholder="Select Birth Date"
              v-model="form.birthdate"
            ></date-picker></client-only>
          </div>
          <div style="margin-top:16px;margin-bottom:16px;">
            <span style="font-size:12px;color:#636464">Joining Date</span>
           <client-only> <date-picker
              class="datepick"
              placeholder="Select Joining Date"
              v-model="form.joiningdate"
            ></date-picker></client-only>
          </div>
          <v-btn
            class="mr-4 mt-5 mb-5"
            color="#3c4571"
            type="submit"
            :disabled="invalid"
          >
            submit
          </v-btn>
        </form>
      </validation-observer>
    </div>
</template>
<script>
import { required, digits, email, max, regex } from "vee-validate/dist/rules";
import {extend,ValidationObserver,ValidationProvider,setInteractionMode} from "vee-validate";
setInteractionMode("eager");
extend("digits", {
  ...digits,
  message: "{_field_} needs to be {length} digits. ({_value_})",
});
extend("required", {
  ...required,
  message: "{_field_} can not be empty",
});
extend("max", {
  ...max,
  message: "{_field_} may not be greater than {length} characters",
});
extend("regex", {
  ...regex,
  message: "{_field_} {_value_} does not match {regex}",
});
extend("email", {
  ...email,
  message: "Email must be valid",
});

export default {
   props: {
    user: {
      type: Object,
    },
    status: {
      type: String,
    },
  },
    components: {
    ValidationObserver,
    ValidationProvider,
  },
  created: function () {
    console.log(this.user);
  },
  methods: {
   
    
  },
  data() {
    return {
      form: {
        firstname: this.user?.firstname || "",
        lastname: this.user?.lastname || "",
        address: this.user?.address || "",
        city: this.user?.city || "",
        birthdate: this.user?.birthdate || "",
        joiningdate: this.user?.joiningdate || "",
        phoneNumber: this.user?.phone || "",
        email: this.user?.email || "",
      },
      
      
    };
  },
}
</script>
<style scoped>

</style>