<template>
  <div>
    <Header />
    <v-app id="container">
    <Nuxt />
    </v-app>
  </div>
</template>

<style>
html {
  font-family:
    'Questrial',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
#container {
  background-color: rgb(48, 48, 50);
}


</style>
