<template>
  <div id="listcon" >
<v-dialog v-model="ok" width="500">
      <v-card>
        <div id="dialogtitle">
          <span style="font-size: 20px">Employee Updated</span>
        </div>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="#3c4571" dark @click="okdialog"> Ok </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- DialogBox for Updating employee -->

    <v-dialog v-model="dialog" persistent max-width="500">
      <div id="dialog">
        <div id="dialogtitle" class="d-flex justify-space-between mb-6">
          <span style="font-size: 20px">Update Employee</span>
          <v-icon color="#fff" style="align-items: unset" @click="clearUpdate">
            mdi-close
          </v-icon>
        </div>
       <LazyUserForm  :user="people" @on-submit="updateUser"/>
      </div>
    </v-dialog>
    <div id="profileView" :class="status">
      <div id="viewdesign" ></div>
      <div>
        <v-btn class="editbutton" :class="status" rounded @click="updateCard"> Edit Profile </v-btn>
        <v-avatar
          class="avatar"
          size="150"
          @mouseover="hover = true"
          @mouseleave="hover = false"
        >
          <input ref="myfile" type="file" @change="onChange" hidden />
          <v-icon
            class="imgbutton"
            @click="onUpload"
            color="#fff"
            large
            dark
            v-show="hover"
            >mdi-camera</v-icon
          >
          <img alt="user" name="profileImage" :src="imag" />
        </v-avatar>
        <div style="margin-top: 100px; margin-left: 50px">
          <v-row justify="start">
            <v-col col="1" sm="12">
              <span style="font-size: 26px; font-weight: 500; color: #495b69"
                >{{ people.firstname }} {{ people.lastname }}</span
              >
            </v-col>
            <v-col col="1" sm="12" class="mb-5">
              <span style="font-size: 16px; color: #2196f3; font-weight: 500">{{
                people.status
              }}</span>
            </v-col>
            <v-col col="1" sm="12" class="mb-4"
              ><span style="font-size: 18px; font-weight: 500; color: #949fa7"
                >Contact Information</span
              ></v-col
            >
            <v-col col="1" sm="12">
              <table style="width: 40%">
                
                <tr>
                  <td>
                    <span
                      style="font-size: 16px; color: #495b69; font-weight: 500"
                      >Phone:
                    </span>
                  </td>
                  <td>
                    <span
                      style="font-size: 16px; color: #2196f3; font-weight: 500"
                      >{{ people.phone }}</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <span
                      style="font-size: 16px; color: #495b69; font-weight: 500"
                      >Email:
                    </span>
                  </td>
                  <td>
                    <span
                      style="font-size: 16px; color: #2196f3; font-weight: 500"
                      >{{ people.email }}</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <span
                      style="font-size: 16px; color: #3f5471; font-weight: 500"
                      >Address:
                    </span>
                  </td>
                  <td>
                    <span
                      style="font-size: 16px; color: #3f5471; font-weight: 300"
                      >{{ people.address }}</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>
                    <span
                      style="font-size: 16px; color: #3f5471; font-weight: 500"
                      >City:
                    </span>
                  </td>
                  <td>
                    <span
                      style="font-size: 16px; color: #3f5471; font-weight: 300"
                      >{{ people.city }}</span
                    >
                  </td>
                </tr>
              </table>
            </v-col>
            <v-col col="1" sm="12" class="mb-4 mt-4"
              ><span style="font-size: 18px; font-weight: 500; color: #949fa7"
                >Basic Information</span
              ></v-col
            >
            <v-col col="1" sm="12">
              <table style="width: 40%">
                
                
                <tr>
                  <td>
                    <span style="font-size: 16px; color: #3f5471; font-weight: 500"
                >Birth Date:
              </span>
                  </td>
                  <td>
                    <span style="font-size: 16px; color: #3f5471; font-weight: 300">{{
                people.birthdate
              }}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span style="font-size: 16px; color: #3f5471; font-weight: 500"
                >Joining Date:
              </span>
                  </td>
                  <td>
                    <span style="font-size: 16px; color: #3f5471; font-weight: 300">{{
              people.joiningdate
              }}</span>
                  </td>
                </tr>
              </table>
            </v-col>
          </v-row>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from "moment";
import { mapMutations } from "vuex";
import { mapGetters } from "vuex";




export default {
  
  data() {
    return {
      dateformat: "d MMMM yyyy",
      dialog: false,
      component:null,
      id: null,
      firstname: null,
      lastname: null,
      address: null,
      city: null,
      birthdate: null,
      joiningdate: null,
      phoneNumber: null,
      email: null,
      ok: false,
      people:{
      firstname: null,
      lastname: null,
      address: null,
      city: null,
      birthdate: null,
      joiningdate: null,
      phone: null,
      email: null,
      img:null,
      id:null
      },
      imag: "",
      status: "",
      statusArray: ["admin", "employee"],
      hover: false,
      
    };
  },
  
  created() {
    console.log("Inside employee profile")
    
    this.fetchData();
  },
 
  computed: {
    ...mapGetters({
      selectedPerson:"selected/selectedPerson"}),
  },
  methods: {
    //  ...mapMutations(["updateAdmin", "updateStaff"]),
    
    fetchData() {
      //  this.people = this.$store.getters["selected/selectedPerson"];
      this.people.id=this.selectedPerson.id;
      this.people.firstname=this.selectedPerson.firstname;
      this.people.lastname=this.selectedPerson.lastname;
      this.people.img=this.selectedPerson.img;
      this.people.status=this.selectedPerson.status;
      this.people.phone=this.selectedPerson.phone;
      this.people.email=this.selectedPerson.email;
      this.people.address=this.selectedPerson.address;
      this.people.birthdate=this.selectedPerson.birthdate;
      this.people.joiningdate=this.selectedPerson.joiningdate;
      this.people.city=this.selectedPerson.city;
      console.log(this.selectedPerson);
      this.imag = this.people.img;
      this.status = this.people.status;
      console.log(this.people);
     
      if(this.people.birthdate==null){
        this.people.birthdate="Not Added";
      }
      else{
        this.people.birthdate=moment(String(this.people.birthdate)).format('MM/DD/YYYY hh:mm');
      }
      if(this.people.joiningdate==null){
        this.people.joiningdate="Not Added";
      }
      else{
        this.people.joiningdate=moment(String(this.people.joiningdate)).format('MM/DD/YYYY hh:mm');
      }

     
    },
    onChange(e) {
      if (!e.target.files.length) return;
      let file = e.target.files[0];
      this.imag = URL.createObjectURL(file);

      if (this.people.status == "admin") {
        this.$store.commit("admins/updateAdmin", {
          id: this.people.id,
          firstname: this.people.firstname,
          lastname: this.people.lastname,
          city: this.people.city,
          address: this.people.address,
          birthdate: this.people.birthdate,
          joiningdate: this.people.joiningdate,
          email: this.people.email,
          phone: this.people.phone,
          img: this.imag,
        });
       
      }
      if (this.people.status == "employee") {
        this.$store.commit("staffs/updateStaff", {
          id: this.people.id,
          firstname: this.people.firstname,
          lastname: this.people.lastname,
          city: this.people.city,
          address: this.people.address,
          birthdate: this.people.birthdate,
          joiningdate: this.people.joiningdate,
          email: this.people.email,
          phone: this.people.phone,
          img: this.imag,
        });
       
      }
      URL.revokeObjectURL(file);
    },
    okdialog() {
      this.ok = false;
    },
    clearUpdate() {
      this.dialog = false;
    },
    onUpload() {
      this.$refs.myfile.click();
    },
    updateCard() {

    //    this.component= () => import('./UserForm');
       this.dialog=true;
    },
    updateUser(userform) {
      console.log(userform);
      this.people.firstname=userform.firstname;
        this.people.lastname=userform.lastname;
        this.people.birthdate= userform.birthdate;
        this.people.joiningdate=userform.joiningdate;
        this.people.address=userform.address;
        this.people.city=userform.city;
        this.people.phone=userform.phone;
        this.people.email=userform.email;
      if (this.status == "admin") {
        this.$store.commit("admins/updateAdmin", {
          id: this.people.id,
          firstname: this.people.firstname,
          lastname: userform.lastname,
          city: userform.city,
          address: userform.address,
          birthdate: userform.birthdate,
          joiningdate: userform.joiningdate,
          email: userform.email,
          phone: userform.phone,
          img: this.imag,
        });
      } else if (this.status == "employee") {
        this.$store.commit("staffs/updateStaff", {
          id: this.people.id,
          firstname: userform.firstname,
          lastname: userform.lastname,
          city: userform.city,
          address: userform.address,
          birthdate: userform.birthdate,
          joiningdate: userform.joiningdate,
          email: userform.email,
          phone: userform.phone,
          img: this.imag,
        });
     
      }
     console.log(moment(String(this.birthdate)).format('MM/DD/YYYY hh:mm') );
        
        this.people.birthdate= userform.birthdate !="Not Added" ?  moment(String(this.birthdate)).format('MM/DD/YYYY hh:mm') : "Not Added";
        this.people.joiningdate=userform.joiningdate !="Not Added" ? moment(String(this.joiningdate)).format('MM/DD/YYYY hh:mm') : "Not Added";
      this.dialog = false;
      this.ok = true;
    },
  },
};
</script>
<style scoped>
#listcon {
  margin: 0 auto;
  max-width: 900px;
  height: inherit;
  margin-top: 10%;
  box-sizing: border-box;
  border-radius: 15px;
  background-color:  rgb(32, 32, 32);
  color: #cbcbcb;
  padding: 1%;
  margin-bottom: 5%;
}
#profileView {
  position: relative;
  width: inherit;
  height: 800px;
  text-align: left;
  background-color: #fafcff;
  
  border-radius: 15px;
}
#viewdesign {
  height: 180px;
  display: flex;
  background-color: #D2D2D2; 
  padding: 6%;
  color: #e9f2fb;
  font-size: 18px;
  border-radius: 15px 15px 0px 0px;
}
.avatar {
  position: absolute;
  top: 12%;
  left: 3%;
  width: 100%;
  height: 100%;
}
.editbutton {
  position: absolute;
  top: 24%;
  left: 79%;
  width: 15%;
  height: 100%;
  /* border: 1px solid #6ae6d1; */
  color: #3b516e;
}
.imgbutton {
  position: absolute;
  top: 32%;
  left: 43%;
  width: 10%;
  height: 100%;
}
.admin {

  border: 2px solid #6ae6d1;
}
.employee {

  border: 2px solid #2196f3;
}
.col-sm-12 {
  padding: 2px;
}

#dialog {
  background-color: #f8f9fb;
}
#dialogtitle {
  height: 60px;
  display: flex;
  background-color: #3c4571;
  padding: 3%;
  color: #e9f2fb;
  font-size: 18px;
}
.datepick {
  width: 100%;
  border-bottom: 1px solid #636464;
}
</style>