<template>
  <div>
     <v-dialog v-model="ok" width="500">
      <v-card>
        <div id="dialogtitle" class="d-flex justify-space-between mb-6">
          <span style="font-size:20px;">Employee Added</span>
        </div>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="#3c4571"  dark @click="okdialog()"> Ok </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog" persistent max-width="500">
       <div id="dialog">
    <div id="dialogtitle" class="d-flex justify-space-between mb-6">
      <span style="font-size:20px;">Add New Employee</span>
      <v-icon color="#fff" style="align-items: unset" @click="clear">
        mdi-close
      </v-icon>
    </div>
   <LazyUserForm   @on-submit="createUser"></LazyUserForm>
     <!-- <component :is="this.component"  @on-submit="createUser"/> -->
     </div>
    </v-dialog>

    <div id="listcon">
      <div class="admindiv">
        <div id="distitle">
          <div id="title">
            <v-row>
              <v-col col="2" sm="3">
                <v-icon color="#6AE6D1"> mdi-account </v-icon>
              </v-col>
              <v-col><h3>Admins</h3></v-col>
            </v-row>
          </div>
          <div id="actions">
            <client-only>
            <v-btn
              class="mx-2"
              fab
              dark
              small
              color="#6AE6D1"
              @click="addadmin"
            >
              <v-icon dark> mdi-plus </v-icon>
            </v-btn>
            </client-only>
          </div>
        </div>

        <Employees :employees="allAdmins"></Employees>
      </div>
      <p></p>
      <div class="staffdiv">
        <div id="distitle">
          <div id="title">
            <v-row>
              <v-col col="2" sm="3">
                <v-icon color="#83B4EF"> mdi-account </v-icon>
              </v-col>
              <v-col><h3>Employees</h3></v-col>
            </v-row>
          </div>
          <div id="actions">
           <client-only> <v-btn class="mx-2" fab dark small color="#83B4EF">
              <v-icon dark @click="addstaff()"> mdi-plus </v-icon>
            </v-btn></client-only>
          </div>
        </div>
        <Employees :employees="allStaffs"></Employees>
      </div>
    </div>
  </div>
</template>
<script>
import Employees from "~/components/Employees";

import { mapGetters,mapMutations} from "vuex";
import { uuid } from "vue-uuid";

export default {
  name: "App",
  data() {
    return {
        dialog: false,
        id:null,
        firstname: null,
        lastname:null,
        address:null,
        city:null,
        birthdate:null,
        joiningdate:null,
        phoneNumber: null,
        email: null,
        status: null,
        component:null,
      admin: {
        id:null,
        firstname: null,
        lastname:null,
        address:null,
        city:null,
        birthdate:null,
        joiningdate:null,
        phone: null,
        email: null,
        status: null,
        img:null
      },
      staff: {
        id:null,
        firstname: null,
        lastname:null,
        address:null,
        city:null,
        birthdate:null,
        joiningdate:null,
        phone: null,
        email: null,
        status: null,
        img:null
      },
       ok: false,
    };
  },
  components: {
    Employees,
 
  },
  computed: {
    
     ...mapGetters ({
      allAdmins: 'admins/allAdmins',
      allStaffs: 'staffs/allStaffs'
    })
    
  },
  
  methods: {
    //  ...mapMutations(["addAdmin", "addStaff"]),
    addadmin() {
      this.status = "admin";
      // this.component= () => import('~/components/UserForm');
      this.dialog = true;

      
    },
    addstaff() {
      this.status = "employee";
      this.dialog = true;
    },
    createUser(userform){
      if (this.status == "admin") {
        this.admin.firstname = userform.firstname;
        this.admin.lastname = userform.lastname;
        this.admin.phone = userform.phoneNumber;
        this.admin.email = userform.email;
        this.admin.address=userform.address;
        this.admin.city=userform.city;
        this.admin.birthdate=userform.birthdate;
        this.admin.joiningdate=userform.joiningdate;
        this.admin.status = "admin";
        this.admin.id = uuid.v1();
        this.admin.img=require("@/assets/blank-profile-picture-973460_640.png");
        this.$store.commit("admins/addAdmin",this.admin);
        this.dialog = false;
        this.admin=null;
        this.ok = true;
      } else if (this.status == "employee") {
        // this.$refs.observer.validate();
        this.staff.firstname = userform.firstname;
        this.staff.lastname = userform.lastname;
        this.staff.phone = userform.phoneNumber;
        this.staff.email = userform.email;
        this.staff.address=userform.address;
        this.staff.city=userform.city;
        this.staff.birthdate=userform.birthdate;
        this.staff.joiningdate=userform.joiningdate;
        this.staff.status = "employee";
        this.staff.id = uuid.v1();
        this.staff.img=require("@/assets/blank-profile-picture-973460_640.png");
        this.$store.commit("staffs/addStaff",this.staff);
        this.dialog = false;
        this.staff=null;
        this.ok = true;
      }
      
    },
    okdialog() {
      this.ok = false;
       this.dialog = false;
    },
    clear() {
      this.dialog = false;
    },
  },
};
</script>
<style scoped>
#listcon {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 10%;
  margin-bottom: 5%;
  background-color: rgb(32, 32, 32);
  box-sizing: border-box;
  border-radius: 15px;
  color: #cbcbcb;
  padding: 5%;
}
#distitle {
  display: flex;
}
#title {
  width: 160px;
  height: 50px;
  margin-left: 12px;
  background-color: #262626;
  border-radius: 25px;
  text-align: left;
  padding: 1%;
}
#actions {
  margin-left: 2%;
  margin-top: 5px;
}
#dialog {
  background-color: #f8f9fb;
}
#dialogtitle {
  height: 80px;
  display: flex;
  background-color: #3c4571;
  padding: 5%;
  color: #e9f2fb;
  font-size: 18px;
}
.admindiv {
  border: solid 1px #6ae6d1;
  padding: 5%;
  border-radius: 30px;
}
.staffdiv {
  border: solid 1px #83b4ef;
  padding: 5%;
  border-radius: 30px;
}
.datepick{
  width:100%;
  border-bottom: 1px solid #636464;
}
</style>